.sidebarWrapper {
  position: relative;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  display: none;
}

.sidebar[data-opened="true"] {
  display: block;
  position: fixed;
  inset: 0;
  z-index: 200;
  width: 280px;
  background: var(--mantine-color-body);
}

@media (min-width: 48em) {
  .sidebar {
    display: block;
    position: sticky;
    top: 0;
    height: 100vh;
    width: auto;
  }

  .sidebar[data-opened="true"] {
    position: sticky;
    inset: auto;
    z-index: auto;
    width: auto;
  }
}

.overlay {
  display: block;
}

@media (min-width: 48em) {
  .overlay {
    display: none;
  }
}

.right {
  background-color: var(--mantine-color-gray-0);
}
