.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 120px;
  font-weight: 800;
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
